*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(243, 240, 202);
}

#nav-bar-container{
    background-color: rgb(56, 118, 250);
    height: 10%;
    margin: 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: fantasy;
    font-size: 2em;
    transition: transform 0.35 ease;
    display: inline-block;
}


ul li a:hover{
    transform: scale(1.2);
}

.container{
    flex:1;
    display:grid;
    height: 80vh;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    margin: 10px;
}

#aboutme{
    grid-row: span 2;
    background-color: rgb(56, 118, 250);
    border-radius: 50px;
    padding: 20px;
}

#aboutme h1{
    color: rgb(255, 255, 255);
    font-family: fantasy;
    font-size: 2rem;
}

#aboutme p{
    color: rgb(255, 255, 255);
    font-family: fantasy;
    font-size: 1.5rem;
}

