*{
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(237, 248, 168);
}

/* Navigation bar  */

#nav-bar-container{
    background-color: rgb(47, 125, 214);
    opacity: 95%;
    height: 10vh;
    margin: 5px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

@media (max-width : 600px){
    #nav-bar-container{
        opacity: 0;
}
}

ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family:sans-serif;
    font-size: 2em;
    display: inline-block;
}


ul li a:hover{
    font-weight: 700;
}

/* container  */

.container{
    flex:1;
    display:grid;
    height: 80vh;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    margin: 10px;
    gap: 20px;
}

/* about me  */
#aboutme{
    background-color: rgb(91, 157, 232);
    opacity: 95%;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#aboutme h1{
    color: rgb(230, 245, 255);
    font-family: fantasy;
    font-weight: 500;
    font-size: 5rem;
}

#aboutme:hover{
    box-shadow: 2px 2px 5px black;
    transform: scale(1,1.05);
}

/* art gallery  */
#artGallery{
    background-color: rgb(91, 157, 232);
    opacity: 95%;
    grid-row-start: 1;
    grid-column-start: 2;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    font-size: 5rem;
    font-weight: 500;
    color: white;
}

#artGallery:hover{
    box-shadow: 2px 2px 5px black;
    transform: scale(1,1.05);
}

/* projects  */
#projects {
    background-color: rgb(91, 157, 232);
    opacity: 95%;
    border-radius: 25px;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family: fantasy;
    color: white;
}

#projects:hover{
    box-shadow: 2px 2px 5px black;
    transform: scale(1,1.05);
}
/* profile image  */
#character{
    /* background-color: rgb(7, 65, 115); */
    border-radius: 25px;
    grid-row: span 2;
    color: rgb(173, 52, 1);
    font-size: 5rem;
    font-family: fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color:rgb(232, 136, 63);
    height: 5vh;
    border-radius: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
}

