*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(21, 77, 113);
}

/* Navigation bar  */

#nav-bar-container{
    background-color: rgb(117, 194, 246);
    height: 10vh;
    margin: 5px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    border: solid white 5px;
}

ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: fantasy;
    font-size: 2em;
    display: inline-block;
}


ul li a:hover{
    transform: scale(1.2);
    text-shadow: 4px 4px black;
}

/* container  */

.container{
    flex:1;
    display:grid;
    height: 80vh;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    margin: 10px;
    gap: 20px;
}

/* about me  */
#aboutme{
    background-color: rgb(117, 194, 246);
    border-radius: 25px;
    padding: 20px;
    border: solid white 5px;
}

#aboutme h1{
    color: rgb(230, 245, 255);
    font-family: fantasy;
    font-size: 3rem;
}

#aboutme p{
    color:rgb(210, 235, 250);
    font-family: fantasy;
    font-size: 1.5rem;
}

#aboutme:hover{
    box-shadow: 2px 2px 5px black;
    transform: scale(1,1.05);
}

/* art gallery  */
#artGallery{
    background-color: rgb(244, 209, 96);
    grid-row-start: 1;
    grid-column-start: 2;
    border-radius: 25px;
    border: solid 5px white;
}

#artGallery:hover{
    box-shadow: 2px 2px 5px black;
    transform: scale(1,1.05);
}

/* projects  */
#projects {
    background-color:rgb(117, 194, 246);
    border-radius: 25px;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-family: fantasy;
    color: white;
    border: solid 5px white;
}

#projects:hover{
    box-shadow: 2px 2px 5px black;
    transform: scale(1,1.05);
}
/* profile image  */
#image{
    background-color: rgb(244, 209, 96);
    border-radius: 25px;
    grid-row: span 2;
}

footer{
    background-color: rgb(244, 209, 96);
    height: 5vh;
    border-radius: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
}

