body{
    font-family: 'Sono',sans-serif;
}

.pricing-container{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}

.pricing-plan{
    flex: 1;
    max-width: 400px;
    padding: 20px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    text-align: center;
}

.plan-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.plan-price{
    font-size: 30px;
    font-weight: bold;
}

.plan-features{
    list-style: none;
    padding: 1px ;
}

.plan-features li{
    margin-bottom: 5px;
}

.plan-button{
    background-color: rgb(254, 126, 28);
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    border: none;
}

@media (max-width: 1250px){
    .pricing-container{
        flex-direction: column;
        height: 100%;     
    }
}